.header{
    background-color: #000;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
    top: 0;
}
.flex-container {
    display: flex;
}

.brand{
    color: #a6a6a6;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    text-decoration: none;
}
.sub-brand{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 150px;
}
.logo{
    height: 40px;
    margin-left: 10px;
    margin-top: 7px;
}

.navs{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

/* @media only screen and (max-width: 400){
    .navs{
        margin-left: 0;
    }
} */

/* 
@media(max-width=600px){
    .navs{
        margin-left: 15px;
    }
} */

.nav-item{
    display: flex;
    padding-left: 20px;
}

.icons{
    height: 20px;
    padding: 15px;
}

.icon-text{
    color: #a6a6a6;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
}