.header{
    background-color: #000;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
    top: 0;
}

.brand{
    color: #a6a6a6;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    text-decoration: none;
}
.sub-brand{
    font-size: 15px;
}
.logo{
    height: 40px;
    margin-left: 10px;
    margin-top: 7px;
}

.header-container{
    display: flex;
}

.sub-container{
    display: flex;
    flex-direction: row;
}

.navs{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

.sub-container-mob{
    display: flex;
    flex-direction: column;
}

.navs-mob{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}


.nav-item{
    display: flex;
    padding-left: 20px;
}

.icons{
    height: 20px;
    padding: 15px;
}

.icon-text{
    color: #a6a6a6;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
}