.btn-div{
    text-align: center;
    padding: 20px;
}
.video-button{
    background: linear-gradient(180deg,#d9a63d,#f0db7a);
    border: none;
    border-radius: 5px;
    color: black;
    height: 50px;
    width: 225px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 30px;
}

.play-icon{
    height: 20px;
    display: inline-block;
    margin-left: 5px;
}

.download-btn {
    width: 235px;
    height: 75px;
}

.download-icon  {
    height: 35px;
    /* display: inline-block; */
    /* margin-left: 5px; */
}

.download-btn:hover{
    width: 250px;
    height: 100px;
    transition: .3s;
    border-radius: 15px;

}